alias nf="neofetch"
alias pls="sudo"
alias sdn="rmhis && shutdown now"
alias rmhis="rm -v ~/.*sh_history"
alias cr="clear"
alias py="python"
alias hi="echo Wassup"
alias dl="youtube-dl"
alias ts="ts-node"
alias cat="lolcat"
alias google-chrome="google-chrome-stable"
alias fdl="cd /home/toor/Videos/fem && frontendmastersDownloader"
alias vim="nvim"
alias open="xdg-open"
alias help="man"
alias github="open http://github.com"
alias reddit="open http://reddit.com"
alias q="exit"
alias ffx="open https://www.google.com"
alias gfi="good-first-issue"
alias wzx="open https://wazirx.com/exchange/DOGE-INR"
alias aurup="cd /home/toor/Downloads/aur_packages && ./pull"
alias stonks="cd /home/toor/temp/dogebot && py main.py"
alias gsup="git submodule foreach git pull origin master"
alias up="sudo pacman -Syu && aurup"
alias clean="sudo pacman -Scc"
