alias nf="neofetch"
alias pls="sudo"
alias sdn="rmhis && shutdown now"
alias rmhis="rm -v ~/.*sh_history"
alias cr="clear"
alias py="python"
alias hi="echo Wassup"
alias dl="youtube-dl"
alias ts="ts-node"
alias cat="lolcat"
alias google-chrome="google-chrome-stable"
